<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dlyt.yanndroid.oneuiexample">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/SamsungTheme">
        <activity
            android:name="de.dlyt.yanndroid.oneuiexample.AboutActivity"
            android:theme="@style/SamsungAboutTheme" />
        <activity
            android:name="de.dlyt.yanndroid.oneuiexample.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity
            android:name="de.dlyt.yanndroid.oneuiexample.SplashActivity"
            android:theme="@style/SamsungSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>