name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  versions:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
      tags: ${{ steps.tags.outputs.tags }}
    steps:
      - uses: actions/checkout@v2
      - name: get current version
        run: |
          echo ::set-output name=version::$(grep -Po '(?<=latest=).*' ./gradle.properties)
        id: version
      - name: get old version-tags
        run: |
          echo ::set-output name=tags::$(curl -s https://api.github.com/repos/yanndroid/oneui-design-library/tags | grep -Po '(?<="name": ").*(?=")')
        id: tags

  publish:
    runs-on: ubuntu-latest
    needs: versions
    if: ${{ !contains(needs.versions.outputs.tags, needs.versions.outputs.version) }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '8'
      - name: grant execute permission for gradlew
        run: chmod +x gradlew
      - name: build
        run: ./gradlew -p ./yanndroid/oneui clean build
      - name: publish to github-package-registry
        run: ./gradlew -p ./yanndroid/oneui publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    runs-on: ubuntu-latest
    needs: versions
    if: ${{ !contains(needs.versions.outputs.tags, needs.versions.outputs.version) }}
    steps:
      - uses: actions/checkout@v2
      - name: create release
        uses: actions/create-release@v1
        with:
          release_name: ${{ needs.versions.outputs.version }}
          tag_name: ${{ needs.versions.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
